<% if (post.categories && post.categories.length){ %>
	<div class="article-category tagcloud">
		<% [].slice.call(post.categories.data).forEach(category => { %>
			<a href="<%- url_for_lang(category.path) %>" class="article-category-link"><%= category.name %></a>
		<% }) %>
	</div>
<% } %>
