<% if (post.prev || post.next){ %>
<nav id="article-nav">
  <% var prev_post = post %>
  <% do { %>
  <% prev_post = prev_post.prev %>
  <% if (prev_post && prev_post.lang == page.lang){ %>
    <a href="<%- url_for(prev_post.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><</strong>
      <div class="article-nav-title"><%= prev_post.title || '(no title)' %></div>
    </a>
    <% break %>
  <% } %>
  <% } while(prev_post) %>


  <% var next_post = post %>
  <% do { %>
  <% next_post = next_post.next %>
  <% if (next_post && next_post.lang == page.lang){ %>
    <a href="<%- url_for(next_post.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <div class="article-nav-title"><%= next_post.title || '(no title)' %></div>
      <strong class="article-nav-caption">></strong>
    </a>
    <% break %>
  <% } %>
  <% } while(next_post) %>

</nav>
<% } %>