<div class="duoshuo">
  <div data-thread-key="<%= key %>" data-thread-url="<%= url %>" data-thread-title="<%= title %>"></div>
	<!-- 评论框 end -->
	<!-- 公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 
			'https://od8634671.qnssl.com' : 
			'http://7xin1x.com1.z0.glb.clouddn.com') + 
			'/comments.js?<%- Date.now() %>';
			ds.charset = 'UTF-8';
			ds.onload = function() {
				comments(document.querySelectorAll('.duoshuo>div')[0]);
			};
			(document.getElementsByTagName('head')[0] 
			|| document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	</script>
	<!-- 公共JS代码 end -->
</div>