share-wechat = #00D400
share-weibo = #E6162D
share-twitter = #1DA1F2
share-google = #c83d20
share-qq = #169ADA
share-facebook = #3b5998

.article-share{
	font-size: 0;
	text-align: right;
	margin-top: 24px;
	.share-icon{
		position: relative;	
		font: 18px FontAwesome;
		display: inline-block;
		line-height: 1.8em;
		width: 1.8em;
		text-align: center;
		padding: 0 2px;
		&:before{

		}
		&:after{
			content: "";
			position: absolute;
			height: 4px;
			left: 0;
			width: 100%;
			transform: scaleX(0);
			bottom: 0;
			transition: .2s all ease-in-out;
		}
		&:hover:after{
			transform: scaleX(1);			
		}
	}
	span.share-icon:before{
		color: #CFD1D4;
		content: "\f064";
	}
	share-icon(content,color){
		&:before{
			content: content;
			color: color;
		}
		&:after{
			background: color;
		}
	}
	.share-wechat{
		share-icon("\f1d7",share-wechat);
	}
	.share-weibo{
		share-icon("\f18a",share-weibo);
	}
	.share-twitter{
		share-icon("\f099",share-twitter);
	}
	.share-google{
		share-icon("\f0d5",share-google);
	}
	.share-qq{
		share-icon("\f1d6",share-qq);
	}
	.share-facebook{
		share-icon("\f230",share-facebook);
	}
	div.qrcode {
		font-size: 16px;
		text-align: left;
	}
}
.qrcode-body-mask{
	visibility: hidden;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0,0,0,.5);
	opacity: 0;
	transition: .3s all ease;
	transition-property: opacity,visibility;
	&.show {
		visibility: visible;
		opacity: 1;
	}
}

.qrcode-module{
	position: fixed;
  width: 260px;
  height: 281px;
  
  left: calc(50% - 154px);
	top: calc(50% - 165px);
	transform: translate3d(0,100vh,0);
	visibility: hidden;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4);
  background: #fff;
  border-radius: 4px;
  z-index: 9999;
  padding: 24px;
	transition: .3s all ease;
	transition-property: transform,visibility;
	&.show{
		transform: translateY(0);
		visibility: visible;
	}
	h2 {
		padding-bottom: 16px;
		font-size: 1.2em;
		text-align: center;
	}
	#qrcode-pic{
		margin: 0 auto;
    position: relative;
    display: block;
		canvas {
			display: block;
			margin: 0 auto;
			padding-bottom: 6px;
		}
	}
	#logo-qrcode{
    width: 50px;
    position: absolute;
    left: 129px;
    bottom: 119px;
    border-radius: 6px;
	}
	
}

.paper-white-pswp {
	a.pswp__share--facebook{
		&:hover {
			background: share-facebook;
			&:before {
				border-bottom-color: #FFF;
			}
		}
	}
	a.pswp__share--weibo{
		&:hover {
			color: #FFF;
			background: share-weibo;
			&~a.pswp__share--facebook:before{
				border-bottom-color: share-weibo;
			}
		}
	}
	a.pswp__share--qq{
		&:hover {
			color: #FFF;
			background: share-qq;
		}
	}
	a.pswp__share--wechat{
		cursor: pointer;
		&:hover {
			color: #FFF;
			background: share-wechat;
		}
	}
	a.pswp__share--twitter{
		&:hover {
			background: share-twitter;
		}
	}
	a.pswp__share--google{
		&:hover {
			color: #FFF;
			background: share-google;
		}
	}
	.pswp__share-tooltip a {
	}
}